{% extends 'base.html' %}

{% block body %}
<div id="splash">
    <div>Loading<span> </span></div>
</div>
<div id="viewport"></div>
{% endblock %}


{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
        var api = new bikeshed.framework.API({
            baseUrl: '/api'
        });

        var documents = new bikeshed.framework.Resource(api, '/documents/', bikeshed.Document, {
        });

        var app = new bikeshed.Application({
            element: '#viewport',
            splash: '#splash',
            pages: {
                '/': new bikeshed.IndexPage(),
                '/login/': new bikeshed.LoginPage({
                    api: api
                }),
                '/search/': new bikeshed.ListPage({
                    resource: documents
                }),
                '/new/': new bikeshed.EditorPage({
                    resource: documents
                }),
                '/edit/:uid/': new bikeshed.EditorPage({
                    resource: documents
                }),
                '/view/:uid/': new bikeshed.ViewerPage({
                    resource: documents
                })
            }
        });
        
        api.on('unauthorizedRequest', function(){
            console.log('UNAUTHORIZED');
            app.visit('/login/');
        });
        
        app.start();
    </script>
{% endblock %}