html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

body, textarea, input {
  font-family: "Droid Sans Mono", monospace;
  line-height: 21px;
  font-size: 16px; }

textarea, input[type=text] {
  background-color: transparent; }

form {
  margin: 0px;
  padding: 0px; }

ul, li, div, form, input[type=text], h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

body > header {
  background-color: #fff;
  color: #fff;
  padding: 16px 20px 20px 20px;
  border-bottom: 1px solid #eee; }
  body > header b {
    color: #000; }
  body > header > a {
    color: #777; }
  body > header .actions {
    float: right; }
    body > header .actions a {
      color: #000;
      margin-left: 20px; }

a {
  color: #1099ee;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#page {
  padding-left: 20px;
  position: relative;
  margin: 0px;
  height: 100%; }

.pldm-autocomplete {
  background-color: #eeffff;
  position: absolute;
  display: none;
  z-index: 10000;
  box-shadow: 9px 7px 20px #dddddd, -9px 7px 20px #dddddd;
  max-width: 300px;
  min-width: 100px; }
  .pldm-autocomplete > ul {
    margin: 0px;
    padding: 0px; }
    .pldm-autocomplete > ul > li {
      padding: 1px 3px;
      list-style: none;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent; }
      .pldm-autocomplete > ul > li:hover {
        background-color: #cceeff; }
      .pldm-autocomplete > ul > li.selected {
        background-color: #cceeff;
        border-color: #a3becc; }

.pldm-editor {
  overflow: hidden; }
  .pldm-editor > div.ace_editor {
    /* ace sets padding: 0px 4px for .ace_text-layer. */
    margin-left: -4px;
    width: 600px;
    font-family: "Droid Sans Mono", monospace;
    line-height: 21px;
    font-size: 16px; }

.pldm-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 100000;
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  background-color: rgba(0, 0, 0, 0.4); }

.pldm-popup {
  background-color: #fff;
  min-height: 200px;
  margin-top: 50px; }
  .pldm-popup > header {
    padding: 3px 10px;
    height: 30px;
    border-bottom: 1px solid #eee;
    overflow: hidden; }
    .pldm-popup > header > a[href="#close"] {
      float: right;
      text-align: center;
      font-size: 30px;
      color: #ccc;
      position: relative;
      top: -4px; }
      .pldm-popup > header > a[href="#close"]:hover {
        text-decoration: none;
        color: #1099ee; }
  .pldm-popup > .pldm-component {
    margin: 10px; }

#viewport {
  position: relative;
  background-color: #ffffff;
  padding-top: 20px;
  height: 100%; }

.pldm-sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30em;
  height: 100%;
  padding: 10px 10px;
  border-left: 1px solid #eee; }
  .pldm-sidebar a {
    display: block;
    padding: 0px 10px;
    margin: 10px; }

h1 {
  margin: 0px;
  padding-bottom: 1em;
  font-size: 26px;
  margin-right: 30em;
  line-height: 30px;
  font-weight: normal; }

.document-display {
  margin-right: 30em; }
  .document-display > .headers b {
    font-weight: normal; }
  .document-display > .headers > .extra {
    color: #999; }

.document {
  float: left;
  margin-top: 21px; }
  .document p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 21px; }

.crumbs {
  padding-top: 1em; }
  .crumbs a {
    display: inline-block;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.pldm-searchform > .glyphicon-search {
  margin-left: -26px; }
.pldm-searchform > input[type=text] {
  margin-left: -7px;
  width: 600px;
  padding: 6px;
  outline: none;
  border: none;
  border: 1px solid #eee; }
  .pldm-searchform > input[type=text]:hover {
    border-color: #ccc; }
  .pldm-searchform > input[type=text]:focus {
    border-color: #1099ee; }

.deadref {
  color: #ff6600; }

.pldm-list > ul > li {
  list-style: none;
  padding: 2px 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  .pldm-list > ul > li:hover, .pldm-list > ul > li:hover > b {
    text-decoration: underline; }
  .pldm-list > ul > li.selected {
    border-color: #a3becc; }
  .pldm-list > ul > li > b {
    color: #000;
    width: 60px;
    display: inline-block;
    text-align: right; }
    .pldm-list > ul > li > b:after {
      content: ':'; }

.loading {
  opacity: 0.5; }
