html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

body, textarea, input {
  font-family: "Monaco", monospace;
  line-height: 21px;
  font-size: 14px; }

form {
  margin: 0px;
  padding: 0px; }

ul, li, div, form {
  margin: 0px;
  padding: 0px; }

header {
  background-color: #222628;
  color: #fff;
  padding: 20px; }
  header .actions {
    float: right; }
    header .actions a {
      color: #fff; }

a {
  color: #1099ee;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#page {
  padding-left: 20px;
  position: relative;
  margin: 0px; }

.pldm-autocomplete {
  background-color: #eeffff;
  position: absolute;
  display: none;
  z-index: 10000;
  box-shadow: 9px 7px 20px #dddddd, -9px 7px 20px #dddddd;
  max-width: 300px;
  min-width: 100px; }
  .pldm-autocomplete > ul {
    margin: 0px;
    padding: 0px; }
    .pldm-autocomplete > ul > li {
      padding: 1px 3px;
      list-style: none;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent; }
      .pldm-autocomplete > ul > li:hover {
        background-color: #cceeff; }
      .pldm-autocomplete > ul > li.selected {
        background-color: #cceeff;
        border-color: #a3becc; }

.pldm-editor {
  overflow: hidden; }
  .pldm-editor > div.ace_editor {
    /* ace sets padding: 0px 4px for .ace_text-layer. */
    margin-left: -4px;
    width: 600px;
    font-family: "Monaco", monospace;
    line-height: 21px;
    font-size: 14px; }

#viewport {
  border-top: 3px solid #990000;
  position: relative;
  background-color: #ffffff; }

.pldm-sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30em;
  background-color: #eee;
  padding: 10px 10px; }
  .pldm-sidebar a {
    display: block;
    padding: 0px 10px;
    margin: 10px; }
    .pldm-sidebar a:hover {
      background-color: #fff; }

h1 {
  margin: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 150%;
  margin-right: 30em;
  line-height: 30px; }

.document-display {
  margin-right: 30em; }
  .document-display > .headers b {
    font-weight: normal; }
  .document-display > .headers > .extra {
    color: #999; }

.document {
  float: left;
  margin-top: 21px; }
  .document p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 21px; }

.crumbs {
  padding-top: 1em; }
  .crumbs a {
    display: inline-block;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.pldm-searchform input[type=text] {
  width: 600px;
  padding: 6px;
  outline: none;
  border: none;
  background-color: #effedd; }
  .pldm-searchform input[type=text]:focus {
    background-color: #cceeff; }

.deadref {
  color: #ff6600; }

.pldm-list > ul > li {
  list-style: none;
  padding: 2px 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  .pldm-list > ul > li:hover {
    background-color: #cceeff; }
  .pldm-list > ul > li.selected {
    border-color: #a3becc; }

.loading {
  opacity: 0.5; }
