@import 'config.scss';

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body, textarea, input{
    @include font;
}

form{
    margin: 0px;
    padding: 0px;
}

ul, li, div, form, input[type=text], h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}

b{
    font-weight: normal;
}

textarea, input[type=text], input[type=password]{
    background-color: transparent;
    padding: 6px;
    outline: none;
    border: none;
    border: 1px solid #eee;
    
    &:hover{
        border-color: #ccc;
    }
    
    &:focus{
        border-color: $link-color;
    }
}

input:-moz-placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder{
    color: $soft-textcolor;
    font-weight: normal;
}

a{
    color: $link-color;
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}


@import 'layout.scss';
@import 'autocomplete.scss';
@import 'editor.scss';
@import 'popup.scss';
@import 'list.scss';
@import 'login.scss';

#splash{
    position: absolute;
    top: -60px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    & > div{
        width: 100px;
        text-align: center;
        margin: auto;
        margin-top: 100px;
        
        & > span{
            white-space: pre;
            border-left: 1px solid #000;
            animation: blink .8s steps(1, start) infinite;
            -webkit-animation: blink .8s steps(1, start) infinite;
        }
        
    }
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}


.bikeshed-sidebar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: $sidebar-width;
    height: 100%;
    padding: 10px 10px;
    border-left: 1px solid #eee;

    a{
        display: block;
        padding: 0px 10px;
        margin: 10px;
        color: #000;
    
        &:hover{
        }
        
        & > .fa{
            width: 20px;
            text-align: center;
        }
    }
}

h1{
    margin: 0px;
    padding-bottom: $lineheight;
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
}

.document-display{
    & > .headers {
        margin-bottom: $lineheight;

        b{
            font-weight: normal;
        }

        & > .extra{
            color: $soft-textcolor;
        }
    }
    
    ul{
        padding-left: 20px;
    }
    li, li li{
        list-style: disc;
    }
    
    h2{
        font-size: 24px;
        line-height: 42px;
    }
}

.document{
    float: left;
    margin-top: 21px;
    
    p{
        margin: 0px;
        padding: 0px;
        padding-bottom: 21px;
    }
}

.path{
    padding-bottom: $lineheight;
    white-space: pre;

    & > a{
        display: inline-block;
        max-width: 175px;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $textcolor;
    }
    
    & > b{
        position: relative;
        top: -4px;
        display: inline-block;
        color: $soft-textcolor;
    }
}

.bikeshed-searchform {
    & > .fa-search{
        margin-left: -26px;
    }

    & > input[type=text]{
        margin-left: -7px;
        width: 600px;
    }
}

.deadref{
    color: #ff6600;
}


.bikeshed-picker > .bikeshed-list{
    margin-top: 10px;
}

.loading{
    opacity: 0.5;
}

.bikeshed-card{
    background-color: #fff;
    border: 1px solid #eee;
    
    & > .title{
        border-left: 4px solid #f00;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }
    
    &.closed > .title{
        text-decoration: line-through;
        text-decoration-color: #000;
        -moz-text-decoration-color: #000;
        -webkit-text-decoration-color: #000;
    }
}

.bikeshed-board{
    .columns{

        & > div{
            float: left;
            width: 30%;
            min-height: 100px;
            padding: 0px 10px 0px 10px;
            border: 1px solid transparent;
            
            &.drag-over{
                border: 1px dashed $link-color;
            }
            
            & > .bikeshed-card{
                margin-bottom: 10px;
            }
        }
        & > div + div{
            border-left: 1px solid #eee;
        }
    }
}