$dropdown-shadow-color: #fff;
$dropdown-selection-color: #cceeff;
$dropdown-background-color: #ffffff;

$link-color: #1099ee;

$sidebar-width: 300px;

$lineheight: 23px;

$textcolor: #000;
$soft-textcolor: #999;

$defaultpadding: 20px;


@mixin font{
    font-family: "Liberation Mono", monospace;
    line-height: $lineheight;
    font-size: 16px;
}

@mixin boxdisplay{
    display: box;
    display: -moz-box;
    display: -webkit-box;
}

@mixin boxalign($align){
    box-align: $align;
    -moz-box-align: $align;
    -webkit-box-align: $align;
}

@mixin boxorient($orient){
    box-orient: $orient;
    -moz-box-orient: $orient;
    -webkit-box-orient: $orient;
}

