$dropdown-shadow-color: #ddd;
$dropdown-selection-color: #cceeff;
$dropdown-background-color: #eeffff;

$link-color: #1099ee;

$sidebar-width: 300px;

@mixin font{
    font-family: "Droid Sans Mono", monospace;
    line-height: 21px;
    font-size: 16px;
}

@mixin boxdisplay{
    display: box;
    display: -moz-box;
    display: -webkit-box;
}

@mixin boxalign($align){
    box-align: $align;
    -moz-box-align: $align;
    -webkit-box-align: $align;
}

@mixin boxorient($orient){
    box-orient: $orient;
    -moz-box-orient: $orient;
    -webkit-box-orient: $orient;
}
