#page{
    padding-left: 20px;
    position: relative;
    margin: 0px;
}

aside{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30em;
    background-color: #eee;
    padding: 0px 20px;
    height: 100%;
}