@import 'config.scss';

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body, textarea, input{
    @include font;
}

textarea, input[type=text]{
    background-color: transparent;
}

form{
    margin: 0px;
    padding: 0px;
}

ul, li, div, form, input[type=text], h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}

body > header{
    background-color: #fff; //#222628;
    color: #fff;
    padding: 16px 20px 20px 20px;
    border-bottom: 1px solid #eee;
    
    b{
        color: #000;
    }
    
    & > a{
        color: #777;
    }
    
    .actions{
        float: right;

        a{
            color: #000;
            margin-left: 20px;
        }
    }
}

a{
    color: $link-color;
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}


@import 'layout.scss';
@import 'autocomplete.scss';
@import 'editor.scss';
@import 'popup.scss';

#viewport{
    position: relative;
    background-color: #ffffff;
    padding-top: 20px;
    height: 100%;
}

.pldm-sidebar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30em;
    height: 100%;
    padding: 10px 10px;
    border-left: 1px solid #eee;

    a{
        display: block;
        padding: 0px 10px;
        margin: 10px;
    
        &:hover{
        }
    }
}

h1{
    margin: 0px;
    padding-bottom: 1em;
    font-size: 26px;
    margin-right: 30em;
    line-height: 30px;
    font-weight: normal;
}

.document-display{
    margin-right: 30em;
    
    & > .headers {
        b{
            font-weight: normal;
        }

        & > .extra{
            color: #999;
        }
    }
}

.document{
    float: left;
    margin-top: 21px;
    
    p{
        margin: 0px;
        padding: 0px;
        padding-bottom: 21px;
    }
}

.crumbs{
    padding-top: 1em;
    a{
        display: inline-block;
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.pldm-searchform {
    & > .glyphicon-search{
        margin-left: -26px;
    }

    & > input[type=text]{
        margin-left: -7px;
        width: 600px;
        padding: 6px;
        outline: none;
        border: none;
        border: 1px solid #eee;
        
        &:hover{
            border-color: #ccc;
        }
        
        &:focus{
            border-color: $link-color;
        }
    }
}

.deadref{
    color: #ff6600;
}


.pldm-list{
    & > ul{
        & > li{
            list-style: none;
            padding: 2px 0px;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            
            &:hover{
                //background-color: $dropdown-selection-color;
            }
            
            &.selected{
                border-color: $dropdown-selection-color * 0.8;
            }
            
            & > a{
                & > b{
                    color: #000;
                    width: 60px;
                    display: inline-block;
                    text-align: right;
                
                    &:after{
                        content: ':';
                    }
                }
                
                &:hover > b{
                    text-decoration: underline;
                }
            }
        }
    }
}

.loading{
    opacity: 0.5;
}