.pldm-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100000;

    @include boxdisplay;
    @include boxalign(center);
    @include boxorient(vertical);

    background-color: rgba(0, 0, 0, 0.4);
}

.pldm-popup{
    background-color: #fff;
    min-height: 200px;
    margin-top: 50px;
    
    & > header{
        padding: 3px 10px;
        height: 21px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        
        & > span, a{
        }
        
        & > span{
            
        }

        & > a[href="#close"]{
            float: right;
            text-align: center;
            font-size: 30px;
            color: #ccc;
            position: relative;
            top: -4px;
            
            &:hover{
                text-decoration: none;
                color: $link-color;
            }
        }
    }
    
    & > .pldm-component{
        margin: 10px;
    }
}