{% extends 'documents/base.html' %}

{% block document_body %}
    <form action="" method="post" id="ticketForm">
        <textarea name="text" class="ticket">{{ text }}</textarea>
    </form>
{% endblock %}


{% block document_actions%}
    <a href="javascript:document.getElementById('ticketForm').submit()">Save</a>
    <a href="/view/{{ document.uid }}/">Cancel</a>
    {{ super() }}
{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="/static/ace-builds-1.1.3/src-noconflict/ace.js" charset="utf-8"></script>
    
    <script type="text/javascript">
    document.getElementsByTagName('textarea')[0].focus();

    /*
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    //editor.getSession().setMode("ace/mode/javascript");
    */

    </script>
{% endblock %}