{% extends 'documents/base.html' %}

{% block document_body %}
    <div id="viewport"></div>
{% endblock %}


{% block document_actions%}
    <a href="#save">Save</a>
    <a href="/view/{{ document.uid }}/">Cancel</a>
    {{ super() }}
{% endblock %}


{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
        $.ajax('/api/document/{{ document.uid }}/', {
            type: 'GET',
            success: function(data){
                var doc = new pldm.Document(data);
                var e = new pldm.DocumentEditor({
                    doc: doc
                });
                $('#viewport').append(e.$element);
                e.focus();
                $('a[href=#save]').on('click', function(){
                    e.save();
                    return false;
                });
            }
        });
    </script>
{% endblock %}
