<!DOCTYPE html>
<html>
<head>
    <title>{% block html_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/pldm.css" />
    <!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />-->
</head>
<body>
    <header>
        <a href="/">Promise Less | Do More</a>
        <div class="actions">
            <a href="/create/">New</a>
        </div>
    </header>
    <div id="page">
    {% block body %}
    {% endblock %}
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>