<!DOCTYPE html>
<html>
<head>
    <title>{% block html_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/static/pldm.css" />
</head>
<body>
    <header>
        <a href="/">promise less <b>|</b> do more</a>
        <div class="actions">
            <a href="/search/">Search</a>
            <a href="/new/">New</a>
        </div>
    </header>
    <div id="page">
    {% block body %}
    {% endblock %}
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/md5-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/traceur-runtime.js"></script>
    <script type="text/javascript" src="/static/pldm.js"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>