html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

body, textarea, input {
  font-family: "Liberation Mono", monospace;
  line-height: 23px;
  font-size: 16px; }

form {
  margin: 0px;
  padding: 0px; }

ul, li, div, form, input[type=text], h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

b {
  font-weight: normal; }

textarea, input[type=text], input[type=password] {
  background-color: transparent;
  padding: 6px;
  outline: none;
  border: none;
  border: 1px solid transparent;
  background-color: #eeeeee; }
  textarea:hover, input[type=text]:hover, input[type=password]:hover {
    border-color: #000; }
  textarea:focus, input[type=text]:focus, input[type=password]:focus {
    border-color: #000;
    background-color: #fcfcfc; }

input:-moz-placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #999999;
  font-weight: normal; }

a {
  color: #1099ee;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#body {
  position: relative;
  margin: 0px;
  height: 100%; }
  #body > .pages {
    position: relative;
    background-color: #ffffff;
    padding-top: 20px;
    height: 100%; }
    #body > .pages > .bikeshed-component {
      margin-right: 320px;
      padding-left: 20px; }
  #body > header {
    background-color: #fff;
    padding: 16px 20px 20px 20px;
    border-bottom: 1px solid #eee; }
    #body > header b {
      color: black; }
    #body > header > a {
      color: #777;
      opacity: 0.7; }
      #body > header > a:hover {
        text-decoration: none; }
    #body > header .actions {
      float: right; }
      #body > header .actions a {
        color: black;
        margin-left: 20px; }
    #body > header > .user {
      float: right; }

.bikeshed-autocomplete {
  background-color: white;
  position: absolute;
  display: none;
  z-index: 10000;
  box-shadow: 9px 7px 20px white, -9px 7px 20px white;
  max-width: 300px;
  min-width: 100px;
  border: 1px solid #eee; }
  .bikeshed-autocomplete > ul {
    margin: 0px;
    padding: 0px; }
    .bikeshed-autocomplete > ul > li {
      padding: 1px 3px;
      list-style: none;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent; }
      .bikeshed-autocomplete > ul > li:hover {
        background-color: #2c5e35; }
      .bikeshed-autocomplete > ul > li.selected {
        background-color: #2c5e35;
        border-color: #234b2a; }

.bikeshed-editor > div.ace_editor {
  width: 100%;
  /* ace sets padding: 0px 4px for .ace_text-layer. */
  margin-left: -4px;
  margin-right: 0px;
  font-family: "Liberation Mono", monospace;
  line-height: 23px;
  font-size: 16px; }

.bikeshed-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 100000;
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  background-color: rgba(0, 0, 0, 0.4); }

.bikeshed-popup {
  background-color: #fff;
  min-height: 200px;
  margin-top: 50px; }
  .bikeshed-popup > header {
    padding: 5px 10px 3px 10px;
    border-bottom: 1px solid #eee;
    overflow: hidden; }
    .bikeshed-popup > header > a[href="#close"] {
      float: right;
      font-size: 20px; }
      .bikeshed-popup > header > a[href="#close"]:hover {
        text-decoration: none;
        color: #1099ee; }
  .bikeshed-popup > .bikeshed-component {
    margin: 10px; }

.bikeshed-list > ul > li {
  list-style: none;
  padding: 2px 0px;
  border: 1px solid transparent;
  padding-right: 20px; }
  .bikeshed-list > ul > li:nth-child(even) {
    background-color: #f9f9f9; }
  .bikeshed-list > ul > li:hover, .bikeshed-list > ul > li:hover > b {
    font-weight: bold; }
  .bikeshed-list > ul > li.selected {
    border-color: #000; }
  .bikeshed-list > ul > li > b {
    color: black;
    width: 70px;
    display: inline-block;
    text-align: right;
    white-space: pre; }
  .bikeshed-list > ul > li .type {
    float: right;
    color: #999999; }

.bikeshed-login {
  margin: auto;
  width: 400px; }
  .bikeshed-login input {
    width: 300px;
    margin-bottom: 10px; }

#splash {
  position: absolute;
  top: -60px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  #splash > div {
    width: 100px;
    text-align: center;
    margin: auto;
    margin-top: 100px; }
    #splash > div > span {
      white-space: pre;
      border-left: 1px solid #000;
      animation: blink 0.8s steps(1, start) infinite;
      -webkit-animation: blink 0.8s steps(1, start) infinite; }

@keyframes blink {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.ace-github .ace_variable {
  color: #1099ee; }

.bikeshed-sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 279px;
  height: 100%;
  padding: 20px 0px;
  margin-left: 20px;
  border-left: 1px solid #eee; }
  .bikeshed-sidebar a {
    display: block;
    padding: 0px 10px;
    margin: 10px;
    color: #000; }
    .bikeshed-sidebar a > .fa {
      width: 20px;
      text-align: center; }

h1 {
  margin: 0px;
  padding-bottom: 23px;
  font-size: 26px;
  line-height: 30px;
  font-weight: normal; }

.document-display > .headers {
  margin-bottom: 23px; }
  .document-display > .headers b {
    font-weight: normal; }
  .document-display > .headers > .extra {
    color: #999999; }
.document-display ul {
  padding-left: 20px; }
.document-display li, .document-display li li {
  list-style: disc; }
.document-display h2 {
  font-size: 24px;
  line-height: 42px; }

.document {
  float: left;
  margin-top: 21px; }
  .document p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 21px; }

.path {
  padding-bottom: 23px;
  white-space: pre; }
  .path > a {
    display: inline-block;
    max-width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black; }
  .path > b {
    position: relative;
    top: -4px;
    display: inline-block;
    color: #999999; }

.bikeshed-searchform {
  position: relative; }
  .bikeshed-searchform > .fa-search {
    margin-left: -26px; }
  .bikeshed-searchform > input[type=text] {
    padding-bottom: 2px;
    box-sizing: border-box;
    width: 100%; }

.deadref {
  color: #ff6600; }

.bikeshed-picker > .bikeshed-list {
  margin-top: 10px; }

.loading {
  opacity: 0.5; }

.bikeshed-card {
  background-color: #fff;
  border: 1px solid #eee; }
  .bikeshed-card > .title {
    border-left: 4px solid #f00;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; }
  .bikeshed-card.closed > .title {
    text-decoration: line-through;
    text-decoration-color: #000;
    -moz-text-decoration-color: #000;
    -webkit-text-decoration-color: #000; }

.bikeshed-board .columns > div {
  float: left;
  width: 30%;
  min-height: 100px;
  padding: 0px 10px 0px 10px;
  border: 1px solid transparent; }
  .bikeshed-board .columns > div.drag-over {
    border: 1px dashed #1099ee; }
  .bikeshed-board .columns > div > .bikeshed-card {
    margin-bottom: 10px; }
.bikeshed-board .columns > div + div {
  border-left: 1px solid #eee; }
